* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #24353f;
}

#auth-card {
  width: 60%;
  box-shadow: 0px 0px 54px -9px rgba(0, 0, 0, 1);
}

h1 {
  color: #17a2b8;
}

input {
  border: 1px solid #ced4da;
}

.form-control {
  color: #ced4da;
}

.form-control::placeholder {
  color: #ced4da;
}

.form-control:focus {
  box-shadow: none;
  color: #ced4da;
}
